.HomeText {
  background-color: rgb(196, 196, 196);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 20px;
  display: block;
  width: fit-content;
  text-align: center;
  border-radius: 16px;
  border: 1px black solid;
  margin-bottom: 50px;
}

.HomeText h1{
  font-size: 44px;
}

.HomeText p{
  font-size: 18px;
}

.Home{
  padding-top: 14vh;
  background-size: cover;
  background-image: url('./bn-home-1.jpg');
  padding-bottom: 20px;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.portCard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 15px;
  width: 400px;
}

.portImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.portName {
  font-size: 18px;
  margin: 10px 0;
}

.portButton {
  cursor: pointer;
  height: 43px;
  font-size: 18px;
  white-space: nowrap;
  background-color: rgba(250, 234, 216, 0.925);
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #293129;
  border-radius: 12px;
  border-style: solid;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
}

.portButton:hover {
  background-color: rgb(247, 165, 127);
  color: #000000;
}

.portCardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
