.Contact{
  font-family: 'Montserrat', sans-serif;
  padding-top: 14vh;
  background-image: url('../Home/bn-home-2.jpg');
  height: 86vh;
}
/* Center the ContactText div vertically and horizontally */
.ContactText {
  background-color: rgb(196, 196, 196);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto; /* Set left and right margins to 'auto' */
  padding: 20px;
  display: block; /* Block-level element */
  width: fit-content; /* Set the width to the content width */
  text-align: center; /* Horizontally center text within the div */
  border-radius: 16px;
  border: 1px black solid;
  text-align: center;
  max-width: 800px; /* Limit the width of the ContactText */
  margin: 0 auto; /* Center horizontally */
}

/* Style the contact form */
.ContactForm {
  border-radius: 16px;
  border: 1px black solid;
  background-color: rgb(196, 196, 196);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; /* Limit the width of the form */
  margin: 20px auto; /* Center horizontally */
}

/* Style form fields and labels */
.FormField {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgba(255, 255, 255, 0.568);
  width: 580px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: none;
}

/* Style the submit button */
.SubmitButton {
  text-align: center;
}

button[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px none solid;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
