.Contact{
  font-family: 'Montserrat', sans-serif;
  padding-top: 14vh;
  background-image: url('../Home/bn-home-2.jpg');
  height: 86vh;
}
.ContactText {
  background-color: rgb(196, 196, 196);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto; 
  padding: 20px;
  display: block; 
  width: fit-content; 
  text-align: center;
  border-radius: 16px;
  border: 1px black solid;
  text-align: center;
  max-width: 800px; 
  margin: 0 auto; 
}

.ContactForm {
  border-radius: 16px;
  border: 1px black solid;
  background-color: rgb(196, 196, 196);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto; 
}

.FormField {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
  background-color: rgba(255, 255, 255, 0.568);
  width: 580px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: none;
}

.SubmitButton {
  text-align: center;
}

button[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px none solid;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
