@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
.AboutText {
  background-color: rgb(196, 196, 196);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto; 
  padding: 20px;
  display: block;
  max-width: 1100px; 
  text-align: center; 
  border-radius: 16px;
  border: 1px black solid;
}
.AboutText h1{
  font-size: 44px;
}
.AboutText p{
  line-height: 140%;
  font-size: 18px;
}
.About{
  padding-top: 14vh;
  background-image: url('../Home/bn-home-2.jpg');
  height: 86vh;
}
